body {
    background-color:  #000000;
    color           :  #FFFFFF;
    font-family     :  Courier New, Courier, monospace;
}
div, span {
    line-height     :  0%;
}

.w { /* light squares (symbolically white) */
    background-color:  #C0C0C0;
    display         :  inline-block;
}
.b { /* dark squares (symbolically black) */
    background-color:  #808080;
    display         :  inline-block;
}
